.main_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}
.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#submit-button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mail-send{
    font-size: 20px;
}